<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title animation parallax | components | Framework Y</title>
    <meta name="description" content="Parallax title with CSS background image animation for awesome JQuery animations effects.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <script src="../../script.js"></script>
    <script src="../../script-framework-y.js"></script>
    <link rel="stylesheet" href="../../style-framework-y.css">
    <link rel="stylesheet" href="../../style.css">

    <link rel="icon" href="/favicon.ico"> <!-- Extra optional content header -->
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top" data-menu-anima="fade-in">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="../../index.html"><img src="../../images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav mega-menu-fullwidth">
                            <li>
                                <a href="../../getting-started.html">Getting started</a>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Titles <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Image background</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/title/template-title-image.html">Image background</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/title/template-title-image-fullscreen.html">Image full-screen</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/title/template-title-image-fullscreen-parallax.html">Image full-screen parallax</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/title/template-title-image-parallax.html">Image parallax</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/title/template-title-image-parallax-ken-burn.html">Image parallax ken-burn</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Slider background</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../components/title/template-title-slider.html">Slider background</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../components/title/template-title-slider-fullscreen.html">Slider full-screen</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../components/title/template-title-slider-fullscreen-parallax.html">Slider full-screen parallax</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../components/title/template-title-slider-parallax.html">Slider parallax</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Animation background</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-leaf"></i> <a href="../../components/title/template-title-animation.html">Animation background</a></li>
                                            <li><i class="fa-li fa fa-leaf"></i> <a href="../../components/title/template-title-animation-parallax.html">Animation background parallax</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Video background</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../components/title/template-title-video-mp4.html">Video background MP4</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../components/title/template-title-video-youtube.html">Video background Youtube</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../components/title/template-title-video-fullscreen.html">Video full-screen</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../components/title/template-title-video-fullscreen-parallax.html">Video full-screen parallax</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../components/title/template-title-video-parallax.html">Video parallax</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Base titles</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="../../components/title/template-title-base-1.html">Title base 1</a></li>
                                            <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="../../components/title/template-title-base-2.html">Title base 2</a></li>
                                            <li><i class="fa-li fa fa-dot-circle-o"></i> <a href="../../components/title/template-title-bootstrap.html">Title bootstrap</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Headers <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Menu documentation</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../components/menu/menu-documentation.html">Documentation</a></li>
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../components/menu/menu-documentation-dropdowns.html">Dropdowns documentation</a></li>
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../components/menu/menu-documentation-sections.html">Sections documentation</a></li>
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../components/menu/menu-animations.html">Menu animations</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Inner menus</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-list-alt"></i> <a href="../../components/menu/menu-inner-horizontal.html">Inner horizontal</a></li>
                                            <li><i class="fa-li fa fa-list-alt"></i> <a href="../../components/menu/menu-inner.html">Inner vertical</a></li>
                                            <li><i class="fa-li fa fa-list-alt"></i> <a href="../../components/menu/menu-inner-bootstrap.html">Bootstrap menu</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Horizontal menus</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-classic.html">Menu classic</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-classic-transparent.html">Menu classic transparent</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-big-logo.html">Menu big logo</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-subline.html">Menu subline</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-subtitle.html">Menu subtitle</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-middle-logo.html">Menu middle logo</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-middle-logo-top.html">Menu middle logo top</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-middle-box.html">Menu middle box</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-icons.html">Menu icons</a></li>
                                            <li><i class="fa-li fa fa-list"></i> <a href="../../components/menu/menu-icons-top.html">Menu icons top</a></li>
                                             
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Side menus</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../components/menu/menu-side-animations.html">Menu side animations</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-bars"></i> <a href="../../components/menu/menu-side.html">Side classic</a></li>
                                            <li><i class="fa-li fa fa-bars"></i> <a href="../../components/menu/menu-side-lateral.html">Side lateral</a></li>
                                            <li><i class="fa-li fa fa-bars"></i> <a href="../../components/menu/menu-side-simple.html">Side simple</a></li>
 
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-bars"></i> <a href="../../components/menu/menu-side-hamburger-button.html">Side hamburger button</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Components <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Main components</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-cube"></i> <a href="../../components/components-base.html">Components base</a></li>
                                            <li><i class="fa-li fa fa-book"></i> <a href="../../components/components-bootstrap.html">Components Bootstrap</a></li>
                                            <li><i class="fa-li fa fa-eye"></i> <a href="../../components/animations.html">Animations engine</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../components/image-box.html">Image boxes</a></li>
                                            <li><i class="fa-li fa fa-th-large"></i> <a href="../../components/content-box.html">Content boxes</a></li>
                                            <li><i class="fa-li fa fa-facebook-official"></i> <a href="../../components/social.html">Social media</a></li>
                                            <li><i class="fa-li fa fa-paragraph"></i> <a href="../../components/typography.html">Typography</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Components</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-cubes"></i> <a href="../../components/components.html">Icons</a></li>
                                            <li><i class="fa-li fa fa-plus"></i> <a href="../../components/components.html#counter">Counters</a></li>
                                            <li><i class="fa-li fa fa-clock-o"></i> <a href="../../components/components.html#countdown">Countdowns</a></li>
                                            <li><i class="fa-li fa fa-tasks"></i> <a href="../../components/components.html#progress-bar">Progress bars</a></li>
                                            <li><i class="fa-li fa fa-circle-o"></i> <a href="../../components/components.html#circle-progress-bar">Circle progress bars</a></li>
                                            <li><i class="fa-li fa fa-calendar"></i> <a href="../../components/components.html#timeline">Timeline</a></li>

                                            <li><i class="fa-li fa fa-map-marker"></i> <a href="../../components/components.html#google-maps">Google maps</a></li>
                                            <li><i class="fa-li fa fa-table"></i> <a href="../../components/components.html#table-bootgrid">Advanced table</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Footer</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-download"></i> <a href="../../components/footer/footer-background.html">Footer background image</a></li>
                                            <li><i class="fa-li fa fa-download"></i> <a href="../../components/footer/footer-parallax.html">Footer parallax</a></li>
                                            <li><i class="fa-li fa fa-download"></i> <a href="../../components/footer/footer-minimal.html">Footer minimal</a></li>
                                            <li><i class="fa-li fa fa-download"></i> <a href="../../components/footer/footer-base.html">Footer base</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>PHP</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-comments-o"></i> <a href="../../components/php-contact-form.html">Contact form</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Containers <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Lists</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-list-ol"></i> <a href="../../containers/list-grid.html">Grid</a></li>
                                            <li><i class="fa-li fa fa-list-ol"></i> <a href="../../containers/list-masonry.html">Masonry</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Others</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-expand"></i> <a href="../../containers/lightbox-popup.html">Lightbox and popups</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../containers/sliders.html">Sliders and carousels</a></li>
                                            <li><i class="fa-li fa fa-toggle-down"></i> <a href="../../containers/others.html#scroll-box">Scroll box</a></li>
                                            <li><i class="fa-li fa fa-square-o"></i> <a href="../../containers/others.html#tabs">Tabs</a></li>
                                            <li><i class="fa-li fa fa-minus"></i> <a href="../../containers/others.html#collapse">Collapse box</a></li>
                                            <li><i class="fa-li fa fa-minus-square-o"></i> <a href="../../containers/others.html#accordion-lists">Accordions</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Sections</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-folder-o"></i> <a href="../../sections/section-empty.html">Empty section</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../sections/section-background-image.html">Background image</a></li>
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../sections/section-background-image-parallax.html">Background parallax</a></li>
                                            <li><i class="fa-li fa fa-columns"></i> <a href="../../sections/section-two-blocks.html">Two blocks</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../sections/section-slider.html">Slider</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../sections/section-carousel.html">Carousel</a></li>
                                            <li><i class="fa-li fa fa-map-marker"></i> <a href="../../sections/section-map.html">Google Maps</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../sections/section-background-video.html">Background video</a></li>
                                            <li><i class="fa-li fa fa-leaf"></i> <a href="../../sections/section-background-animation.html">Background animations</a></li>
                                            <li><i class="fa-li fa fa-leaf"></i> <a href="../../sections/section-background-animation-parallax.html">Background animations parallax</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Templates <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Base templates</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-photo"></i> <a href="../../templates/base/template-background-image.html">Background image</a></li>
                                            <li><i class="fa-li fa fa-sliders"></i> <a href="../../templates/base/template-background-slider.html">Background slider</a></li>
                                            <li><i class="fa-li fa fa-film"></i> <a href="../../templates/base/template-background-video.html">Background video</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Documentation</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../templates/base/template-background-image-documentation.html">Background image</a></li>
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../templates/base/template-background-slider-documentation.html">Background slider</a></li>
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../templates/base/template-background-video-documentation.html">Background video</a></li>
                                        </ul>

                                    </div>
                                    <div class="col">
                                        <h5>Fullpage</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../templates/fullpage/template-fullpage-documentation.html">Fullpage documentation</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-menu-icon-text.html">Fullpage background image</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-parallax.html">Fullpage background parallax</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-slider.html">Fullpage background slider</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-slider-single.html">Fullpage background slider single</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-video.html">Fullpage background video</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-video-single.html">Fullpage background video single</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-menu-classic.html">Fullpage menu classic</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-menu-icon-text.html">Fullpage menu icons text</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-menu-icon-tooltip.html">Fullpage menu icons</a></li>
                                            <li><i class="fa-li fa fa-arrows-v"></i> <a href="../../templates/fullpage/template-fullpage-menu-dots.html">Fullpage menu dots</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Fullpage horizontal</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-arrows-h"></i> <a href="../../templates/fullpage/template-fullpage-horizontal-1.html">Fullpage horizontal 1</a></li>
                                            <li><i class="fa-li fa fa-arrows-h"></i> <a href="../../templates/fullpage/template-fullpage-horizontal-2.html">Fullpage horizontal 2</a></li>
                                            <li><i class="fa-li fa fa-arrows-h"></i> <a href="../../templates/fullpage/template-fullpage-horizontal-3.html">Fullpage horizontal 3</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Fullpage multiscroll</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-exchange"></i> <a href="../../templates/fullpage/template-fullpage-multiscroll.html">Fullpage multiscroll 1</a></li>
                                        </ul>
                                        <hr class="space xs">
                                        <h5>Fullpage two sides</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-info"></i> <a href="../../templates/fullpage/template-fullpage-twosides-documentation.html">Two sides documentation</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-columns"></i> <a href="../../templates/fullpage/template-fullpage-twosides.html">Two sides background image</a></li>
                                            <li><i class="fa-li fa fa-columns"></i> <a href="../../templates/fullpage/template-fullpage-twosides-slider.html">Two sides background slider</a></li>
                                            <li><i class="fa-li fa fa-columns"></i> <a href="../../templates/fullpage/template-fullpage-twosides-video.html">Two sides background video</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="../../#">Ready pages <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Blog</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-1.html">Blog archive 1</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-2.html">Blog archive 2</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-3.html">Blog archive 3</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-social.html">Blog archive social</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-grid.html">Blog grid</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-archive-blog-masonry.html">Blog masonry</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-single-post-1.html">Post single 1</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-single-post-2.html">Post single 2</a></li>
                                            <li><i class="fa-li fa fa-newspaper-o"></i> <a href="../../ready-pages/blog/template-single-post-3.html">Post single 3</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Portfolio</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-archive-portfolio-1.html">Portfolio archive 1</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-archive-portfolio-2.html">Portfolio archive 2</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-single-portfolio-1.html">Portfolio single 1</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-single-portfolio-2.html">Portfolio single 2</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-single-portfolio-3.html">Portfolio single 3</a></li>
                                            <li><i class="fa-li fa fa-file-text-o"></i> <a href="../../ready-pages/portfolio/template-single-portfolio-4.html">Portfolio single 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Gallery</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-masonry-2-cols.html">Gallery masonry - 2 cols</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-masonry-3-cols.html">Gallery masonry - 3 cols</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-masonry-4-cols.html">Gallery masonry - 4 cols</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-grid-2-cols.html">Gallery grid - 2 cols</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-grid-3-cols.html">Gallery grid - 3 cols</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-grid-4-cols.html">Gallery grid - 4 cols</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-album-grid.html">Gallery album grid</a></li>
                                            <li><i class="fa-li fa fa-camera-retro"></i> <a href="../../ready-pages/gallery/template-gallery-album-masonry.html">Gallery album masonry</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Others</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/contacts/template-contacts-1.html">Contacts 1</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/contacts/template-contacts-2.html">Contacts 2</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/onepage/template-onepage-1.html">Onepage 1</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/onepage/template-onepage-2.html">Onepage 2</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/others/faq.html">Faq</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/others/coming-soon.html">Coming soon</a></li>
                                            <li><i class="fa-li fa fa-file-o"></i> <a href="../../ready-pages/others/404.html">404 Page not found</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right mega-menu-fullwidth">
                            <li>
                                <a href="../../themes.html"><b>Themes</b></a>
                            </li>
                            <li>
                                <a href="http://www.framework-y.com/buy-now.html"><b>Buy now</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-animation white" data-parallax="scroll" data-position="top" data-natural-height="486" data-natural-width="1366" data-image-src="../../images/title-animation-background-1.jpg">
        <div id="anima-layer-a" class="anima-layer clouds-1"></div>
        <div id="anima-layer-b" class="anima-layer clouds-2"></div>
        <img class="overlay bottom center" width="550" src="../../images/title-animation-overlay.png" />
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>TITLE COMPONENT / PARALLAX ANIMATION</h1>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="documentation-subtitle">Installation</h4>
                    <div class="panel panel-default">
<pre class="prettyprint well">
&lt;script src='../../plugins/jquery.spritely.min.js'&gt;&lt;/script&gt;
&lt;script src='../plugins/parallax.min.js'&gt;&lt;/script&gt;
</pre>
                    </div>
                    <hr class="space s" />
                    <h4 class="documentation-subtitle">Usage</h4>
                    <div class="tab-box inverse gray documentation-tab" data-tab-anima="fade-in">
                        <div class="panel active">
<pre class="prettyprint">
&lt;div class="header-animation white" data-parallax="scroll" data-position="top" data-natural-height="486" data-natural-width="1366" data-image-src="http://www.framework-y.com/images/thumb-hd.png">
    &lt;div id="anima-layer-a" class="anima-layer clouds-1">&lt;/div>
    &lt;div id="anima-layer-b" class="anima-layer clouds-2">&lt;/div>
    &lt;img class="overlay bottom center" width="123" src="../../images/title-animation-overlay.png" />
    &lt;div class="container">
        &lt;div class="title-base">
            &lt;hr class="anima" />
            &lt;h1>TITLE COMPONENT / PARALLAX ANIMATION&lt;/h1>
            &lt;p>Lorem Ipsum is simply dummy text of the printing.&lt;/p>
        &lt;/div>
    &lt;/div>
&lt;/div>
</pre>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">HTML</a></li>
                        </ul>
                    </div>
                    <hr class="space s" />
                    <h4 class="documentation-subtitle">Main settings</h4>
                    <table class="table table-bordered table-striped documentation-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Settings</td>
                                <td>HTML</td>
                                <td>
                                    Set attributes <code>data-parallax="scroll" data-image-src="image.jpg"</code> of title object.<br>
                                </td>
                            </tr>
                            <tr>
                                <td>Manual initialization</td>
                                <td>Javascript</td>
                                <td>
<pre class="prettyprint">
$(document).ready(function () {
    $('#anima-layer-1').pan({ fps: 30, speed: 0.7, dir: 'left', depth: 30 });
    $('#anima-layer-2').pan({ fps: 30, speed: 1.2, dir: 'left', depth: 70 });
});
</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Code location</td>
                                <td>Information</td>
                                <td>
                                    Insert the title code just belove header code. Example:
                                    <br />
<pre class="prettyprint">
&lt;body>
    &lt;header> 
        ... 
    &lt;/header>
    &lt;div class="header-animation">
        ...
    &lt;/div>
    &lt;div class="section-empty">
        &lt;div class="container content">
            ...
        &lt;/div>
    &lt;/div>
    &lt;footer>
           ...
    &lt;/footer>
&lt;/body>
</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="space s" />
                    <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                        <h5>Title animation documentation</h5>
                        <p>Title animation background parallax is part of <a href="template-title-animation.html">title animation component</a>. Complete documentation <a href="template-title-animation.html">here <i class="fa fa-share"></i></a></p>
                    </div>
                    <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                        <h5>Background animation documentation</h5>
                        <p>Background animation feature is part of <a href="../../sections/section-background-animation.html">background animation section</a>. Complete documentation <a href="../../sections/section-background-animation.html">here <i class="fa fa-share"></i></a></p>
                    </div>
                    <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                        <h5>Parallax documentation</h5>
                        <p>Parallax feature is part of <a href="../../sections/section-background-image-parallax.html">background image parallax section</a>. Complete documentation <a href="../../sections/section-background-image-parallax.html">here <i class="fa fa-share"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.framework-y.com/">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    <p class="footer-main">
                        Designed and built with love by <a href="http://www.pixor.it/en/federico-schiocchet/" target="blank">Federico Schiocchet</a>
                        and <a href="http://www.pixor.it/en/" target="blank">Pixor</a>.
                        <br />
                        © All Rights Reserved Federico Schiocchet - Pixor.
                    </p>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../plugins/parallax.min.js"></script>
        <script src="../../plugins/jquery.spritely.min.js"></script>
        <link rel="stylesheet" href="../../style-framework-y.css">
        <script src="../../plugins/prettify.js"></script>
        <link rel="stylesheet" href="../../plugins/prettify.css">
        <link rel="stylesheet" href="../../css/components.css">
        <script src="../../plugins/jquery.tab-accordion.js"></script>
    </footer>
</body>
</html>
