<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu animations | components | Framework Y</title>
    <meta name="description" content="Manu CSS3 animations for Bootstrap menu. Fade bottom and more.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <script src="../../script.js"></script>
    <script src="../../script-framework-y.js"></script>
    <link rel="stylesheet" href="../../style-framework-y.css">
    <link rel="stylesheet" href="../../style.css">

    <link rel="icon" href="/favicon.ico"> <!-- Extra optional content header -->
</head>
<body>
    <div id="preloader"></div>
    <header class="demo fixed-top" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="../../index.html"><img src="../../images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav mega-menu-fullwidth">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Icon list <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row bg-menu" style="background-image:url(../../images/menu-bg-1.jpg)">
                                    <div class="col">
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-cloud"></i> <a href="#">Winter collection</a></li>
                                            <li><i class="fa-li fa fa-sun-o"></i> <a href="#">Summer collection</a></li>
                                            <li><i class="fa-li fa fa-glass"></i> <a href="#">Sunglasses</a></li>
                                            <li><i class="fa-li fa fa-bookmark"></i> <a href="#">Bags</a></li>
                                            <li><i class="fa-li fa fa-shopping-cart"></i> <a href="#">Shoes</a></li>
                                            <li><i class="fa-li fa fa-male"></i> <a href="#">Shirts</a></li>
                                            <li><i class="fa-li fa fa-user-plus"></i> <a href="#">Accossories</a></li>
                                            <li><i class="fa-li fa fa-exchange"></i> <a href="#">Others</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Icon list mega <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row">
                                    <div class="col">
                                        <h5>Clouthing</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-cloud"></i> <a href="#">Winter collection</a></li>
                                            <li><i class="fa-li fa fa-sun-o"></i> <a href="#">Summer collection</a></li>
                                            <li><i class="fa-li fa fa-eye"></i> <a href="#">Sunglasses</a></li>
                                            <li><i class="fa-li fa fa-bookmark"></i> <a href="#">Bags</a></li>
                                            <li><i class="fa-li fa fa-shopping-cart"></i> <a href="#">Shoes</a></li>
                                            <li><i class="fa-li fa fa-male"></i> <a href="#">Shirts</a></li>
                                            <li><i class="fa-li fa fa-user-plus"></i> <a href="#">Accossories</a></li>
                                            <li><i class="fa-li fa fa-exchange"></i> <a href="#">Others</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Garden & outdoor</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-tree"></i> <a href="#">Winter collection</a></li>
                                            <li><i class="fa-li fa fa-thumbs-o-up"></i> <a href="#">Summer collection</a></li>
                                            <li><i class="fa-li fa fa-pagelines"></i> <a href="#">Sunglasses</a></li>
                                            <li><i class="fa-li fa fa-sun-o"></i> <a href="#">Bags</a></li>
                                            <li><i class="fa-li fa fa-leaf"></i> <a href="#">Shoes</a></li>
                                            <li><i class="fa-li fa fa-trash"></i> <a href="#">Shirts</a></li>
                                            <li><i class="fa-li fa fa-globe"></i> <a href="#">Accossories</a></li>
                                            <li><i class="fa-li fa fa-recycle"></i> <a href="#">Others</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5>Home</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-home"></i> <a href="#">Accessories</a></li>
                                            <li><i class="fa-li fa fa-gamepad"></i> <a href="#">Games</a></li>
                                            <li><i class="fa-li fa fa-bed"></i> <a href="#">Beds</a></li>
                                        </ul>
                                        <hr class="space xs" />
                                        <h5>Food & drinks</h5>
                                        <ul class="fa-ul text-s">
                                            <li><i class="fa-li fa fa-coffee"></i> <a href="#">Winter collection</a></li>
                                            <li><i class="fa-li fa fa-beer"></i> <a href="#">Summer collection</a></li>
                                            <li><i class="fa-li fa fa-glass"></i> <a href="#">Sunglasses</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown multi level<i class="caret"></i></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Single item</a></li>
                                            <li><a href="#">Single item</a></li>
                                            <li class="dropdown dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Single item</a></li>
                                                    <li><a href="#">Single item</a></li>
                                                    <li><a href="#">Single item</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-bootstrap">
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row vertical-row">
                            <div class="col-md-2">
                                <i class="fa fa-info"></i>
                            </div>
                            <div class="col-md-10">
                                <span>Menu component</span>
                                <h1>Menu animations</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ol class="breadcrumb b white right-side">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Menu animations</li>
                        </ol>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="documentation-subtitle">Usage</h4>
                    <div class="tab-box inverse gray documentation-tab" data-tab-anima="fade-in">
                        <div class="panel active">
<pre class="prettyprint">
&lt;header class="fixed-top" data-menu-anima="fade-bottom">
    ...
&lt;/header>
</pre>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">HTML</a></li>
                        </ul>
                    </div>
                    <hr class="space s" />
                    <hr class="space s" />
                    <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                        <h5>Menu example</h5>
                        <p>This is only a example of <a href="menu-documentation.html">menu component</a>. Complete documentation <a href="menu-documentation.html">here <i class="fa fa-share"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.framework-y.com/">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    <p class="footer-main">
                        Designed and built with love by <a href="http://www.pixor.it/en/federico-schiocchet/" target="blank">Federico Schiocchet</a>
                        and <a href="http://www.pixor.it/en/" target="blank">Pixor</a>.
                        <br />
                        © All Rights Reserved Federico Schiocchet - Pixor.
                    </p>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../../style-framework-y.css">
        <link rel="stylesheet" href="../../css/animations.css">
        <script src="../../plugins/prettify.js"></script>
        <link rel="stylesheet" href="../../plugins/prettify.css">
        <link rel="stylesheet" href="../../css/components.css">
        <script src="../../plugins/jquery.tab-accordion.js"></script>
    </footer>
</body>
</html>
