<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu middle box | components | Framework Y</title>
    <meta name="description" content="Menu with big box in middle. The classic dropdown menu with a big box on center.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <script src="../../script.js"></script>
    <script src="../../script-framework-y.js"></script>
    <link rel="stylesheet" href="../../style-framework-y.css">
    <link rel="stylesheet" href="../../style.css">

    <link rel="icon" href="/favicon.ico"> <!-- Extra optional content header -->
</head>
<body>
    <div id="preloader"></div>
    <header class="demo fixed-top">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-mini scroll-hide">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <span><i class="fa fa-phone"></i>+1-23-4226789</span>
                        <hr />
                        <span><i class="fa fa-envelope-o"></i>hello@pixor.com</span>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav lan-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="../../images/en.png" />EN <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><img src="../../images/it.png" />IT</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">GO</button>
                                </span>
                            </div>
                        </form>
                        <div class="minisocial-group">
                            <a target="_blank" href="#"><i class="fa fa-facebook first"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="navbar navbar-main middle-box-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="../../index.html"><img src="../../images/logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <i class="caret"></i></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">About me</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>

                    </div>
                </div>
                <div class="container box-menu-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon-box">
                                <div class="icon-box-cell">
                                    <i class="fa fa-mobile text-xl"></i>
                                </div><div class="icon-box-cell">
                                    <label class="text-m">1-700-(568-852)</label>
                                    <p class="text-xs">We're on call 24/7</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box">
                                <div class="icon-box-cell">
                                    <i class="fa fa-clock-o text-xl"></i>
                                </div><div class="icon-box-cell">
                                    <label class="text-m">Mon - Fri 08:00 - 20:00</label>
                                    <p class="text-xs">Operating Hours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="icon-box">
                                <div class="icon-box-cell">
                                    <i class="fa fa-envelope-o text-xl"></i>
                                </div><div class="icon-box-cell">
                                    <label class="text-m">info@billiobiz.com</label>
                                    <p class="text-xs">Write To Us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-bootstrap" style="padding-top:41px;">
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row vertical-row">
                            <div class="col-md-2">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="col-md-10">
                                <span>Menu component</span>
                                <h1>Menu middle box</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ol class="breadcrumb b white right-side">
                            <li><a href="../../index.html">Home</a></li>
                            <li class="active">Menu middle box</li>
                        </ol>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h4 class="documentation-subtitle">Usage</h4>
                <div class="tab-box inverse gray documentation-tab" data-tab-anima="fade-in">
                    <div class="panel active">
<pre class="prettyprint">
&lt;header class="fixed-top">
    &lt;div class="navbar navbar-default navbar-fixed-top" role="navigation">
        &lt;div class="navbar-mini scroll-hide">
            &lt;div class="container">
                &lt;div class="nav navbar-nav navbar-left">
                    &lt;span>&lt;i class="fa fa-phone">&lt;/i>+1-23-4226789&lt;/span>
                    &lt;hr />
                    &lt;span>&lt;i class="fa fa-envelope-o">&lt;/i>hello@pixor.com&lt;/span>
                &lt;/div>
                &lt;div class="nav navbar-nav navbar-right">
                    &lt;ul class="nav navbar-nav lan-menu">
                        &lt;li class="dropdown">
                            &lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                &lt;img src="../../images/en.png" />EN &lt;span class="caret">&lt;/span>
                            &lt;/a>
                            &lt;ul class="dropdown-menu">
                                &lt;li>&lt;a href="#">&lt;img src="../../images/it.png" />IT&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/li>
                    &lt;/ul>
                    &lt;form class="navbar-form" role="search">
                        &lt;div class="input-group">
                            &lt;input type="text" class="form-control" placeholder="Search for...">
                            &lt;span class="input-group-btn">
                                &lt;button class="btn btn-default" type="submit">GO&lt;/button>
                            &lt;/span>
                        &lt;/div>
                    &lt;/form>
                    &lt;div class="minisocial-group">
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-facebook first">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-twitter">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-instagram">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-youtube">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-linkedin">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-pinterest">&lt;/i>&lt;/a>
                        &lt;a target="_blank" href="#">&lt;i class="fa fa-google-plus">&lt;/i>&lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;div class="navbar navbar-main middle-box-menu">
            &lt;div class="container">
                &lt;div class="navbar-header">
                    &lt;button type="button" class="navbar-toggle">
                        &lt;i class="fa fa-bars">&lt;/i>
                    &lt;/button>
                    &lt;a class="navbar-brand" href="../../index.html">&lt;img src="../../images/logo.png" alt="logo">&lt;/a>
                &lt;/div>
                &lt;div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    &lt;ul class="nav navbar-nav">
                        &lt;li class="active">&lt;a href="#">Home&lt;/a>&lt;/li>
                        &lt;li class="dropdown">
                            &lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown &lt;i class="caret">&lt;/i>&lt;/a>
                            &lt;ul class="dropdown-menu multi-level">
                                &lt;li>&lt;a href="#">Action&lt;/a>&lt;/li>
                                &lt;li>&lt;a href="#">Another action&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/li>
                        &lt;li>&lt;a href="#">Team&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">About me&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Portfolio&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Contacts&lt;/a>&lt;/li>
                    &lt;/ul>
                         
                &lt;/div>
            &lt;/div>
            &lt;div class="container box-menu-inner">
                &lt;div class="row">
                    &lt;div class="col-md-4">
                        &lt;div class="icon-box">
                            &lt;div class="icon-box-cell">
                                &lt;i class="fa fa-mobile text-xl">&lt;/i>
                            &lt;/div>&lt;div class="icon-box-cell">
                            &lt;label class="text-m">1-700-(568-852)&lt;/label>
                            &lt;p class="text-xs">We're on call 24/7&lt;/p>&lt;/div>
                        &lt;/div>
                    &lt;/div>
                    &lt;div class="col-md-4">
                        &lt;div class="icon-box">
                            &lt;div class="icon-box-cell">
                                &lt;i class="fa fa-clock-o text-xl">&lt;/i>
                            &lt;/div>&lt;div class="icon-box-cell">
                            &lt;label class="text-m">Mon - Fri 08:00 - 20:00&lt;/label>
                            &lt;p class="text-xs">Operating Hours&lt;/p>&lt;/div>
                        &lt;/div>
                    &lt;/div>
                    &lt;div class="col-md-4">
                        &lt;div class="icon-box">
                            &lt;div class="icon-box-cell">
                                &lt;i class="fa fa-envelope-o text-xl">&lt;/i>
                            &lt;/div>&lt;div class="icon-box-cell">
                            &lt;label class="text-m">info@billiobiz.com&lt;/label>
                            &lt;p class="text-xs">Write To Us&lt;/p>&lt;/div>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/header>
</pre>
                    </div>
                    <div class="panel">
<pre class="prettyprint">
&lt;header class="fixed-top">
    &lt;div class="navbar navbar-default navbar-fixed-top" role="navigation">
        &lt;div class="navbar navbar-main middle-box-menu">
            &lt;div class="container">
                &lt;div class="navbar-header">
                    &lt;button type="button" class="navbar-toggle">
                        &lt;i class="fa fa-bars">&lt;/i>
                    &lt;/button>
                    &lt;a class="navbar-brand" href="../../index.html">&lt;img src="../../images/logo.png" alt="logo">&lt;/a>
                &lt;/div>
                &lt;div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    &lt;ul class="nav navbar-nav">
                        &lt;li class="active">&lt;a href="#">Home&lt;/a>&lt;/li>
                        &lt;li class="dropdown">
                            &lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown &lt;i class="caret">&lt;/i>&lt;/a>
                            &lt;ul class="dropdown-menu multi-level">
                                &lt;li>&lt;a href="#">Action&lt;/a>&lt;/li>
                                &lt;li>&lt;a href="#">Another action&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/li>
                        &lt;li>&lt;a href="#">Team&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">About me&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Portfolio&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#">Contacts&lt;/a>&lt;/li>
                    &lt;/ul>
                         
                &lt;/div>
            &lt;/div>
            &lt;div class="container box-menu-inner">
                &lt;div class="row">
                    &lt;div class="col-md-4">
                        ...
                    &lt;/div>
                    &lt;div class="col-md-4">
                        ...
                    &lt;/div>
                    &lt;div class="col-md-4">
                        ...
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/header>
</pre>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">HTML</a></li>
                        <li><a href="#">Example 1</a></li>
                    </ul>
                </div>
                <hr class="space s" />
                <h4 class="documentation-subtitle">Main settings</h4>
                <table class="table table-bordered table-striped documentation-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Icons</td>
                            <td>Mixed</td>
                            <td>
                                You can change the icons by edit <code>&lt;i class="fa fa-icon-name">&lt;/i></code> codes.
                                <br />Icons are a feature of <a rel="nofollow" target="_blank" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Complete icons list <a rel="nofollow" target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">here <i class="fa fa-share"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Icon boxes</td>
                            <td>Mixed</td>
                            <td>
                                Icon boxes of middle box are a feature of <a href="../components.html">components - part I</a>. Complete documentation <a href="../components.html">here <i class="fa fa-share"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Hide on scroll</td>
                            <td>CSS class</td>
                            <td>
                                To hide a menu section on page scroll add class <code>scroll-hide</code> to object you want to hide.
                                Scroll hide is a feature of <a href="../components-base.html#js-base">components - base</a>.
                                Complete documentation <a href="../components.html#js-base">here <i class="fa fa-share"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Fixed menu</td>
                            <td>CSS class</td>
                            <td>
                                To set a always visible and fixed on top menu add class <code>fixed-top</code> to header object and class <code>navbar-fixed-top</code> to menu object.
                                <br />Example: <code>&lt;header class="fixed-top"> &lt;div class="navbar navbar-default navbar-fixed-top" role="navigation"> ... &lt;/div> &lt;/header></code>.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="space s" />
                <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                    <h5>Menu documentation</h5>
                    <p>Menu middle box is part of <a href="menu-documentation.html">menu component</a>. Complete documentation <a href="menu-documentation.html">here <i class="fa fa-share"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.framework-y.com/">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    <p class="footer-main">
                        Designed and built with love by <a href="http://www.pixor.it/en/federico-schiocchet/" target="blank">Federico Schiocchet</a>
                        and <a href="http://www.pixor.it/en/" target="blank">Pixor</a>.
                        <br />
                        © All Rights Reserved Federico Schiocchet - Pixor.
                    </p>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>


        <link rel="stylesheet" href="../../style-framework-y.css">
        <script src="../../plugins/prettify.js"></script>
        <link rel="stylesheet" href="../../plugins/prettify.css">
        <link rel="stylesheet" href="../../css/components.css">
        <script src="../../plugins/jquery.tab-accordion.js"></script>
    </footer>
</body>
</html>
