<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu side animations | components | Framework Y</title>
    <meta name="description" content="Side lateral menu with dropdown animations on hover and on click.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <script src="../../script.js"></script>
    <script src="../../script-framework-y.js"></script>
    <link rel="stylesheet" href="../../style-framework-y.css">
    <link rel="stylesheet" href="../../style.css">

    <link rel="icon" href="/favicon.ico"> <!-- Extra optional content header -->
</head>
<body class="side-menu-container">
    <div id="preloader"></div>
    <header class="demo side-menu-header" data-menu-anima="fade-bottom">
        <div class="navbar-header">
            <a class="hamburger-button" data-menu-anima="fade-left">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" href="../../index.html"><img src="../../images/logo.png" alt="logo" /></a>
        </div>
        <div class="side-menu-fixed">
            <div class="top-area">
                <a class="brand" href="../../index.html">
                    <img src="../../images/logo.png" alt="logo">
                </a>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">GO</button>
                        </span>
                    </div>
                </form>
            </div>
            <aside class="sidebar mi-menu">
                <nav class="sidebar-nav scroll-content">
                    <ul class="side-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">Dropdown <span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li><a href="#">item 1.1</a></li>
                                <li><a href="#">item 1.2</a></li>
                                <li>
                                    <a href="#">Menu 1.3 <span class="fa plus-times"></span></a>
                                    <ul class="collapse">
                                        <li><a href="#">item 1.3.1</a></li>
                                        <li><a href="#">item 1.3.2</a></li>
                                        <li><a href="#">item 1.3.3</a></li>
                                        <li><a href="#">item 1.3.4</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">item 1.4</a></li>
                                <li>
                                    <a href="#">Menu 1.5 <span class="fa plus-minus"></span></a>
                                    <ul class="collapse">
                                        <li><a href="#">item 1.5.1</a></li>
                                        <li><a href="#">item 1.5.2</a></li>
                                        <li><a href="#">item 1.5.3</a></li>
                                        <li><a href="#">item 1.5.4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="panel-item">
                            <span>Menu Lateral Panel<span class="fa arrow"></span></span>
                            <div class="collapse panel bg-menu" style="background-image:url(../../images/bg-gradient-1.jpg)">
                                <ul class="collapse" style="margin-top:133px;">
                                    <li><a href="#">item 1.1</a></li>
                                    <li><a href="#">item 1.2</a></li>
                                    <li>
                                        <a href="#">Menu 1.3 <span class="fa plus-times"></span></a>
                                        <ul class="collapse">
                                            <li><a href="#">item 1.3.1</a></li>
                                            <li><a href="#">item 1.3.2</a></li>
                                            <li><a href="#">item 1.3.3</a></li>
                                            <li><a href="#">item 1.3.4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">item 1.4</a></li>
                                    <li>
                                        <a href="#">Menu 1.5 <span class="fa plus-minus"></span></a>
                                        <ul class="collapse">
                                            <li><a href="#">item 1.5.1</a></li>
                                            <li><a href="#">item 1.5.2</a></li>
                                            <li><a href="#">item 1.5.3</a></li>
                                            <li><a href="#">item 1.5.4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="panel-item">
                            <span>Another lateral Panel<span class="fa arrow"></span></span>
                            <div class="collapse panel bg-menu">
                                <ul class="collapse" style="margin-top:107px;">
                                    <li><a href="#">Latest news</a></li>
                                    <li><a href="#">Some features</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="bottom-area">
                <div class="social-group">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                </div>
                <p>© Copyright 2016. All rights reserved. </p>
            </div>
        </div>
    </header>
    <div class="header-bootstrap">
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row vertical-row">
                            <div class="col-md-2">
                                <i class="fa fa-info"></i>
                            </div>
                            <div class="col-md-10">
                                <span>Menu component</span>
                                <h1>Side menu animations</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ol class="breadcrumb b white right-side">
                            <li><a href="../../index.html">Home</a></li>
                            <li class="active">Side menu animations</li>
                        </ol>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h4 class="documentation-subtitle">Main settings</h4>
                <table class="table table-bordered table-striped documentation-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menu animations</td>
                            <td>HTML</td>
                            <td>
                                Add attribute <code>data-menu-anima="animation-name"</code> to header object. Example: <code>&lt;header  data-menu-anima="fade-bottom"&gt; ... &lt;/header&gt;</code>.
                                Animations list available on <a href="../animations.html#animations-types">animation page</a>.
                                <div class="bs-callout documentation-callout bs-callout documentation-callout-danger">
                                    <h5>Plugin dependency</h5>
                                    <p>This feature require Animations component (<code>../css/animations.css</code>)</p>
                                </div>
                                Animations documentation <a href="../animations.html">here <i class="fa fa-share"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="space s" />
                <div class="bs-callout documentation-callout bs-callout documentation-callout-information">
                    <h5>Menu example</h5>
                    <p>This is a example of <a href="menu-side.html">menu side component</a>. Complete documentation <a href="menu-side.html">here <i class="fa fa-share"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.framework-y.com/">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    <p class="footer-main">
                        Designed and built with love by <a href="http://www.pixor.it/en/federico-schiocchet/" target="blank">Federico Schiocchet</a>
                        and <a href="http://www.pixor.it/en/" target="blank">Pixor</a>.
                        <br />
                        © All Rights Reserved Federico Schiocchet - Pixor.
                    </p>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>


        <script src="../../plugins/jquery.slimscroll.min.js"></script>
        <link rel="stylesheet" href="../../style-framework-y.css">
        <link rel="stylesheet" href="../../css/animations.css">

        <script src="../../plugins/prettify.js"></script>
        <link rel="stylesheet" href="../../plugins/prettify.css">
        <link rel="stylesheet" href="../../css/components.css">
        <script src="../../plugins/jquery.tab-accordion.js"></script>
    </footer>
</body>
</html>
